*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #b0b0f1;
    
}
.caixa1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 10px;
    margin: auto;
    
}

.group-sub{

    
    
}
.subcaixa1{
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    padding: 10px;
    background: #fff;
    box-shadow: 10px 10px 20px rgb(153, 150, 150);
}
.foto-usuario img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.subcaixa2{
    text-align: center;
    width: 300px;
    margin: 10px;
    
}
.link-blue{
    color: blue;
}
.button{
    color: white;
    text-align: center;
    background: blue;
    width: 130px;
    display: block;    
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
     

}

.get-app{
    width: 130px;
}
@media(max-width:600px){
    .caixa-foto{
        display: none;
    }
}

